<div class="Container>
<h1> Add information about the endangered animal </h1>
 <form action="/endangeredanimal/new" method="post">
 <select name="health">
 <option> Healthy </option>
 <option> Okay </option>
 <option> Ill </option>